<h1>Bands!!</h1>

<h3>Here are your bands</h3>

<ul>
<% @bands.each() do |band| %>
  <li>
    <a href="/bands/<%= band.id %>"><%= band.name %></a>
  </li>
<% end %>
</ul>

<form action='/bands' method='post'>
  <input type='text' name='name'>
  <input type='submit' value='Add Band'>
</form>

<br>

<h3>Here are your venues</h3>

<ul>
<% @venues.each() do |venue| %>
  <li>
    <%= venue.name %>
  </li>
<% end %>
</ul>


<br>
<br>

<form action='/venues' method='post'>
  <input type='text' name='name'>
  <input type='submit' value='Add Venue'>
<form>
