<html>
  <head>
    <title>Bands</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css" type="text/css">

  </head>
  <body>

  <div class="container-fluid">
    <div class="jumbotron">

    <%= yield %>

    </div>
  </div>

  </body>
</html>
